body {
    height: 100vh;
    text-align: center;
    margin: 0;
    background-image: url("//ArmanAsadian.github.io/assets/background.jpeg");
    background-size: cover;
    backdrop-filter: blur(6px);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    margin-top: 40px;
}

h1 {
    font-family: system-ui;
    color: #e9f0f7;
}

.sen {
    font-family: fantasy;
    font-size: 18px;
    color: #e9f0f7;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

svg {

    fill: currentColor;
    color: #e9f0f7;
}

h4 {
    color: #e9f0f7;
    font-family: fantasy;
    margin-bottom: 0px;
}

.in {
    padding-left: 4px:
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}
